{% load static %}

 <!-- header start -->
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header top-header-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>ΣΚΑΛΑ - ΜΟΛΑΟΙ</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i><a style="color: white;" href="tel:27320 29200">27320 29200</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <ul class="header-dropdown">
                            <li class=""> <i class="fa fa-link" aria-hidden="true"></i>
                                <a href="https://mymoda.gr/">WWW.MYMODA.GR</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="navbar">
                                <a href="javascript:void(0)" onclick="openNav()">
                                    <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <div onclick="closeNav()">
                                            <div class="sidebar-back text-start"><i class="fa fa-angle-left pe-2"
                                                    aria-hidden="true"></i> Back</div>
                                        </div>
                                        <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                            <li><a href="https://www.facebook.com/mymoda.gr">FACEBOOK</a></li>
                                            <li><a href="https://www.instagram.com/mymoda.gr/">INSTRAGRAM</a></li>
                                            <li><a href="https://mymoda.gr/contact-us">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
                                            <li><a href="https://mymoda.gr/prices-drop">ΠΡΟΣΦΟΡΕΣ</a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="brand-logo">
                                <a href="{% url 'homepage' %}"><img width="70" height="50" src="{% static 'images/lagrace.jpg' %}"
                                        class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                            <div class="ms-4">
                                <nav id="main-nav">
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-end">Back<i class="fa fa-angle-right ps-2"
                                                    aria-hidden="true"></i></div>
                                        </li>
                                         {% for category in categories %}
                                             <li class="mega" id="hover-cls">
                                                 <a href="{{ category.url }}" class="has-submenu" id="sm-16500299171326484-1" aria-haspopup="true" aria-controls="sm-16500299171326484-2" aria-expanded="false">{{ category }}<span class="sub-arrow"></span></a>
                                                 <ul class="mega-menu full-mega-menu sm-nowrap" id="sm-16500299171326484-2" role="group" aria-hidden="true" aria-labelledby="sm-16500299171326484-1" aria-expanded="false" style="width: auto; display: none; top: auto; left: 0px; margin-left: -441px; margin-top: 0px; min-width: 10em; max-width: 20em;">
                                                     <li>
                                                         <div class="container">
                                                             <div class="row">
                                                                 {% for child in category.childrens.all %}
                                                                 <div class="col mega-box">
                                                                     <div class="link-section">
                                                                         <div class="menu-title">
                                                                        <h5><a href="{{ child.url }}">{{ child }}</a></h5>
                                                                    </div>
                                                                    <div class="menu-content">
                                                                        <ul>
                                                                            {% for ele in child.childrens.all %}
                                                                                <li><a href="{{ ele.url }}">{{ ele }}</a></li>
                                                                            {% endfor %}

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                 {% endfor %}

                                                        </div>
                                                        <div style="margin-top: 3%" class="row">
                                                            <div class="col-12">
                                                                <a href="https://mymoda.gr/">Βρείτες μας στο ηλεκτρονικό μας κατάστημα</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <nav>
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->




