<!DOCTYPE html> {% load static %}
<html lang="en">

{% include 'include/head.html' %}


<body class="theme-color-24">





   {% include 'include/navbar.html' %}

     <!-- Home slider -->
    <section class="p-0">
        <div class="slide-1 home-slider">
            {% for ele in main_banners %}
            <div>
                <div class="home  text-center">
                    <img src="{{ ele.image.url }}" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <a href="{{ ele.url }}" class="btn btn-solid">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    <!-- Home slider end -->




   <section class="banner-padding banner-furniture ratio2_1">
        <div class="container-fluid">
            <div class="row partition3">
                {% for banner in small_banners %}
                <div style="margin-bottom: 3%" class="col-md-4">
                    <a href="{{ banner.url }}">
                        <div class="collection-banner p-left text-start">
                            <div class="img-part bg-size blur-up lazyloaded" style="background-image: url({{ banner.image.url }}); background-size: cover; background-position: center center; display: block;">
                                <img src="{{ banner.image.url }}" alt="" class="img-fluid blur-up lazyload bg-img" style="display: none;">
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% comment %}
    <!-- collection banner -->
    <section class="banner-padding ratio2_1">
        <div class="container">
            <div class="row margin-default">
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="h-100">
                        <img src="{{ banner.image.url }}" class="img-fluid bg-img" alt="">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row margin-default">
                        {% for image in small_banners %}
                        <div class="col-md-6">
                            <a href="{{ image.url }}">
                                <div class="collection-banner p-right text-end">
                                    <div class="img-part">
                                        <img src="{{ image.image.url }}" alt=""
                                            class="img-fluid blur-up lazyload bg-img">
                                    </div>
                                    <div class="contain-banner banner-3">

                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- collection banner end -->
{% endcomment %}

    <!-- product section start-->
    <div class="title1 section-t-space">
        <h4>ΔΕΙΤΕ</h4>
        <h2 class="title-inner1">ΤΑ ΚΑΤΑΣΤΗΜΑΤΑ ΝΑΣ</h2>
    </div>


     <section class="section-b-space detail-cannabis bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="detail_section">
                        <div>
                            <img width="209" height="102"  src="{% static 'images/lagrace.jpg' %}" />
                            <h4>ΜΟΛΑΟΙ</h4>
                            <p>ΔΙΕΥΘΥΝΣΗ: Κωνσταντινου Παπαμιχαλοπουλου 6 <br>
                                ΤΗΛΕΦΩΝΑ ΚΕΝΤΡΙΚΟ: <a href="tel:2732023884">2732023884</a>
                                <br> ΠΑΙΔΙΚΟ:  <a href="tel:2732029006">2732029006</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="detail_section">
                        <div>
                            <img width="209" height="102"  src="{% static 'images/lagrace.jpg' %}" />
                            <h4>ΣΚΑΛΑ</h4>
                            <p>
                                ΔΙΕΥΘΥΝΣΗ: Γεωργιου Γρυπιωτη <br> <br>
                                ΤΗΛΕΦΩΝΑ: <a href="tel:2735029104">2735029104</a> <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="detail_section">
                        <div>
                            <img src="{% static 'images/my-moda.jpg' %}" />
                            <h4>WWW.MYMODA.GR</h4><br>
                            <p>Website: <a href="https://mymoda.gr/">mymoda.gr</a> <br><br>
                                ΤΗΛΕΦΩΝΑ: <a href="tel:2732029200">27320 29200</a>
                                <br><br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Our Project Start -->
    <section class="portfolio-section grid-portfolio ratio2_3 portfolio-padding">
        <div class="container">
            <div align="center" id="form1">
                <button class="filter-button project_button active" data-filter="all">All</button>
                <button class="filter-button project_button" data-filter="skala">ΣΚΑΛΑ</button>
                <button class="filter-button project_button" data-filter="molaoi">ΜΟΛΑΟΙ</button>
                <button class="filter-button project_button" data-filter="paidiko">ΜΟΛΑΟΙ-ΠΑΙΔΙΚΟ</button>

            </div>
            <div class="row zoom-gallery">
                <div class="isotopeSelector filter skala col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/skala1.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/skala1.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="isotopeSelector filter skala col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/skala2.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/skala2.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="isotopeSelector filter skala col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/skala3.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/skala3.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="isotopeSelector filter molaoi col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/kentriko1.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/kentriko1.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Project End -->








    <!-- instagram section -->
    <section class="instagram ratio_square">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <h2 class="title-borderless"># instagram</h2>
                    <div class="slide-7 no-arrow slick-instagram">
                        <div>
                            <a href="https://www.instagram.com/mymoda.gr/">
                                <div class="instagram-box"> <img alt="" src="{% static 'instagram/instagram_1.jpg' %}"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/mymoda.gr/">
                                <div class="instagram-box"> <img alt="" src="{% static 'instagram/instagram_2.jpg' %}"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/mymoda.gr/">
                                <div class="instagram-box"> <img alt="" src="{% static 'instagram/instagram_3.jpg' %}"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/mymoda.gr/">
                                <div class="instagram-box"> <img alt="" src="{% static 'instagram/instagram_4.jpg' %}"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/mymoda.gr/">
                                <div class="instagram-box"> <img alt="" src="{% static 'instagram/instagram_5.jpg' %}"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/mymoda.gr/">
                                <div class="instagram-box"> <img alt="" src="{% static 'instagram/instagram_6.jpg' %}"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/mymoda.gr/">
                                <div class="instagram-box"> <img alt="" src="{% static 'instagram/instagram_7.jpg' %}"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instagram section end -->
    <!-- Messenger Πρόσθετο συνομιλίας Code -->
<div id="fb-root"></div>

<!-- Your Πρόσθετο συνομιλίας code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>


    <!-- footer -->
    <footer>
        <div class="dark-layout">
            <div class="container">
                <section class="section-b-space border-b">
                    <div class="row footer-theme2">
                        <div class="col-lg-3">
                            <div class="footer-title footer-mobile-title">
                                <h4>about</h4>
                            </div>
                            <div class="footer-contant">
                                <div class="footer-logo"><img width="120" height="70" src="{% static 'images/lagrace.jpg' %}" alt="">
                                </div>
                                <p>Το ηλεκτρονικό μας κατάστημα MyModa είναι η απάντηση στις σύγχρονες απαιτήσεις των καταναλωτών. 20 χρόνια επιτυχημένης πορείας στο χώρο της λιανικής πώλησης ανδρικών, γυναικείων, παιδικών υποδημάτων, παιδικών ρούχων και γυναικείων τσαντών.

Το κατάστημά μας δραστηριοποιείται σε αυτούς τους τομείς από το 1995 με τα φυσικά καταστήματα La Grace στους Μολάους και στη Σκάλα Λακωνίας. </p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="footer-title">
                                <h4>ΠΛΗΡΟΦΟΡΙΕΣ</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a style="color: white" href="https://mymoda.gr/content/3-terms-and-conditions-of-use">Όροι χρήσης</a></li>
                                </ul>
                            </div>
                            <br>
                            <hr>
                            <h5 style="color: white">ΜΟΛΑΟΙ</h5>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.3638371600928!2d22.855102032346444!3d36.80310932441994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6dd626b71efcd504!2sLa%20Grace!5e0!3m2!1sel!2sgr!4v1650342565392!5m2!1sel!2sgr" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <h5 style="color: white">ΣΚΑΛΑ</h5>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d949.1962556451773!2d22.663964149731527!3d36.849590484280604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149e27d9bab6fe61%3A0x87c821f6a55035d0!2sLa%20grace!5e0!3m2!1sel!2sgr!4v1650431981349!5m2!1sel!2sgr" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-title">
                                <h4>ΚΑΤΑΣΤΗΜΑΤΑ</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-details">
                                    <li>ΣΚΑΛΑ:  Γεωργιου Γρυπιωτη</li>
                                    <li>ΜΟΛΑΟΙ: Κωνσταντινου Παπαμιχαλοπουλου</li>
                                    <li>Email Us: <a href="mailto:info@mymoda.gr">info@mymoda.gr</a></li>
                                    <li>Email Us: <a href="mailto:molaoishoes@gmail.com">molaoishoes@gmail.com</a></li>
                                    <li><a href="https://www.facebook.com/lagrace.molaoi" class="btn btn-rounded "><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/mymoda.gr/" class="btn btn-rounded "><i class="fa fa-instagram"></i></a> </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </footer>
    <!-- end footer -->







    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->


  {% include 'include/js.html' %}
</body>

</html>