<!DOCTYPE html> {% load static %}
<html lang="en">

{% include 'include/head.html' %}


<body class="theme-color-24">





   {% include 'include/navbar.html' %}


    <!-- Home slider -->
    <section class="p-0">
        <div class="center-home-slider sm-size home-slider layout-7">
            {% for image in main_banners %}
            <a href="{{ banner.url }}">
                <div class="home p-right text-center">

                    <img src="{{ image.image.url }}" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
    </section>
    <!-- Home slider end -->


    <!-- collection banner -->
    <section class="banner-padding ratio2_1">
        <div class="container">
            <div class="row margin-default">
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="h-100">
                        <img src="{{ banner.image.url }}" class="img-fluid bg-img" alt="">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row margin-default">
                        {% for image in small_banners %}
                        <div class="col-md-6">
                            <a href="{{ image.url }}">
                                <div class="collection-banner p-right text-end">
                                    <div class="img-part">
                                        <img src="{{ image.image.url }}" alt=""
                                            class="img-fluid blur-up lazyload bg-img">
                                    </div>
                                    <div class="contain-banner banner-3">

                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- collection banner end -->


    <!-- product section start-->
    <div class="title1 section-t-space">
        <h4>ΔΕΙΤΕ</h4>
        <h2 class="title-inner1">ΤΑ ΚΑΤΑΣΤΗΜΑΤΑ ΝΑΣ</h2>
    </div>


       <!--Testimonial start-->
    <section class="testimonial small-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="slide-2 testimonial-slider no-arrow">
                        <div>
                            <div class="media">
                                <div class="text-center">
                                    <img src="{% static 'images/kentriko1.jpg' %}" alt="#">
                                    <h5>ΚΕΝΤΡΙΚΟ ΚΑΤΑΣΤΗΜΑ ΜΟΛΑΟΙ</h5>
                                    <h6>27320 29200</h6>
                                </div>
                                <div class="media-body">
                                    <p>ΜΟΛΑΟΙ ΛΑΚΩΝΙΑΣ ΤΚ23052</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <div class="text-center">
                                    <img src="{% static 'images/skala1.jpg' %}" alt="#">
                                    <h5>ΚΕΝΤΡΙΚΟ ΚΑΤΑΣΤΗΜΑ ΣΚΑΛΑ</h5>
                                    <h6>27320 29200</h6>
                                </div>
                                <div class="media-body">
                                    <p>ΜΟΛΑΟΙ ΛΑΚΩΝΙΑΣ ΤΚ23052</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <div class="text-center">
                                    <img src="{% static 'images/paidiko.jpg' %}" alt="#">
                                    <h5>ΜΟΛΑΟΙ ΚΑΤΑΣΤΗΜΑ ΠΑΙΔΙΚΟ</h5>
                                    <h6>27320 29200</h6>
                                </div>
                                <div class="media-body">
                                    <p>ΜΟΛΑΟΙ ΛΑΚΩΝΙΑΣ ΤΚ23052</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <div class="text-center">
                                    <img src="{% static 'images/paidiko.jpg' %}" alt="#">
                                    <h5>ΜΥ ΜΟDA</h5>
                                    <h6>www.mymoda.gr</h6>
                                </div>
                                <div class="media-body">
                                    <p>ΜΟΛΑΟΙ ΛΑΚΩΝΙΑΣ ΤΚ23052</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Our Project Start -->
    <section class="portfolio-section grid-portfolio ratio2_3 portfolio-padding">
        <div class="container">
            <div align="center" id="form1">
                <button class="filter-button project_button active" data-filter="all">All</button>
                <button class="filter-button project_button" data-filter="skala">ΣΚΑΛΑ</button>
                <button class="filter-button project_button" data-filter="molaoi">ΜΟΛΑΟΙ</button>
                <button class="filter-button project_button" data-filter="paidiko">ΜΟΛΑΟΙ-ΠΑΙΔΙΚΟ</button>

            </div>
            <div class="row zoom-gallery">
                <div class="isotopeSelector filter skala col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/skala1.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/skala1.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="isotopeSelector filter skala col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/skala2.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/skala2.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="isotopeSelector filter skala col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/skala3.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/skala3.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="isotopeSelector filter molaoi col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{% static 'images/kentriko1.jpg' %}">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img src="{% static 'images/kentriko1.jpg' %}"
                                    class="img-fluid blur-up lazyload bg-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Project End -->








    <!-- instagram section -->
    <section class="instagram ratio_square">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <h2 class="title-borderless"># instagram</h2>
                    <div class="slide-7 no-arrow slick-instagram">
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/1.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/2.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/3.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/4.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/5.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/6.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/7.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/8.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box"> <img alt="" src="../assets/images/slider/bags/2.jpg"
                                        class="bg-img" style="width:100%">
                                    <div class="overlay"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instagram section end -->


    <!-- footer -->
    <footer>
        <div class="dark-layout">
            <div class="container">
                <section class="section-b-space border-b">
                    <div class="row footer-theme2">
                        <div class="col-lg-3">
                            <div class="footer-title footer-mobile-title">
                                <h4>about</h4>
                            </div>
                            <div class="footer-contant">
                                <div class="footer-logo"><img src="../assets/images/icon/logo/f9.png" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                            </div>
                        </div>
                        <div class="col-lg-6 subscribe-wrapper">
                            <div class="subscribe-block">
                                <h2>newsletter</h2>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleFormControlInput3"
                                            placeholder="Enter your email">
                                        <button type="submit" class="btn btn-solid">subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-title">
                                <h4>store information</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-details">
                                    <li>Multikart Demo Store, Demo store India 345-659</li>
                                    <li>Call Us: 123-456-7898</li>
                                    <li>Email Us: <a href="#">Support@Fiot.com</a></li>
                                    <li>Fax: 123456</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="dark-layout">
            <div class="container">
                <section class="small-section">
                    <div class="row footer-theme2">
                        <div class="col p-set">
                            <div class="footer-link">
                                <div class="footer-title">
                                    <h4>my account</h4>
                                </div>
                                <div class="footer-contant">
                                    <ul>
                                        <li><a href="#">mens</a></li>
                                        <li><a href="#">womens</a></li>
                                        <li><a href="#">clothing</a></li>
                                        <li><a href="#">accessories</a></li>
                                        <li><a href="#">featured</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-link-b">
                                <div class="footer-title">
                                    <h4>why we choose</h4>
                                </div>
                                <div class="footer-contant">
                                    <ul>
                                        <li><a href="#">shipping & return</a></li>
                                        <li><a href="#">secure shopping</a></li>
                                        <li><a href="#">gallary</a></li>
                                        <li><a href="#">affiliates</a></li>
                                        <li><a href="#">contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="sub-footer darker-subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017-18 themeforest powered by
                                pixelstrap
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">
                            <ul>
                                <li>
                                    <a href="#"><img src="../assets/images/icon/visa.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="../assets/images/icon/mastercard.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="../assets/images/icon/paypal.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="../assets/images/icon/american-express.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="../assets/images/icon/discover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->







    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->


  {% include 'include/js.html' %}
</body>

</html>